/*
 * Copyright 2024 ilGur Petter
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

body {
  width: auto;
  margin: 0 auto;
  padding: 0 5px;
  min-width: 670px;
  max-width: 1200px;
  overflow-y: scroll;
  align-items: center;
}

body, table {
  color: #333;
  font-size: 13px;
  font-family: arial, sans-serif;
}

table {
  width: 100%;
  font-size: 13px;
  border-spacing: 0;
  text-align: center;
}

p {
  padding: 0;
  margin: 5px 0;
  text-align: justify;
}

details {
  border: 0;
  padding: 0;
  outline: none;
  margin: 10px auto;
}

summary {
  border: 0;
  margin: 0;
  padding: 0;
  height: 42px;
  outline: none;
  color: #158d47;
  cursor: pointer;
  font-size: 12px;
  padding-left: 0;
  font-weight: 600;
  user-select: none;
  text-indent: 10px;
  line-height: 42px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: arial, sans-serif;
  background-color: rgba(0,0,0,0.05);
}

details[open] summary {
  background-color: transparent;
}

summary:focus {
  outline: none;
}

.list {
  padding: 0;
  border-spacing: 0 5px;
}

.list thead .number {
  width: 28px;
  font-size: 18px;
}

.list thead .name {
  color: #0088e9;
  padding: 0 5px;
  text-align: left;
  line-height: 28px;
}

.list thead .remove {
  line-height: 28px;
}

.list tbody td[type="number"] {
  width: 28px;
  font-size: 13px;
  font-family: monospace;
}

.list tr {
  outline: solid 1px rgba(0,0,0,0.05);
}

.fit {
  padding: 0;
  table-layout: fixed;
  border-spacing: 10px 5px;
}

a {
  color: #0094FF;
  text-decoration: none
}

i {
  padding: 0;
  font-size: 13px;
  display: inline;
  color: transparent;
  margin: 0 2px 0 -5px;
  vertical-align: initial;
  background: url('icons/item.png') no-repeat center center;
  background-size: 13px;
}

input {
  border: 0;
  outline: 0;
  margin: 0 5px;
  box-sizing: border-box;
  vertical-align: middle;
}

input[type="checkbox"] {
  margin: 5px;
  color: #333;
  float: right;
  vertical-align: middle;
}

input[type="text"] {
  margin: 5px;
  color: #333;
  height: 42px;
  font-size: 13px;
  border-radius: 0;
  text-indent: 10px;
  font-family: monospace;
  width: calc(100% - 5px);
  border: solid 1px #0088e9;
}

table tr td {
  margin: 0;
  padding: 0;
  color: #333;
  border-width: 0;
  vertical-align: middle;
  transition: 300ms ease all;
}

table tr td[type='url'] {
  width: auto;
  padding: 5px;
  display: block;
  font-size: 13px;
  overflow: hidden;
  text-align: left;
  line-height: 18px;
  font-family: monospace;
}

table tr td[type='close'] {
  width: 36px;
  cursor: pointer;
  background: url('icons/close-black.png') no-repeat center center;
  background-size: 8px;
}

table tr td[type='close']:hover {
  background: #C75050 url('icons/close-white.png') no-repeat center center;
  background-size: 8px;
}

#content {
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.note {
  margin: 5px;
  font-size: 75%;
  text-align: center;
  vertical-align: middle;
}

.header {
  width: 100%;
  margin: auto;
}

.logo {
  width: 100%;
  height: 128px;
  border-bottom: solid 1px rgba(0,0,0,0.1);
  background: url("../icons/128.png") center center no-repeat;
  background-size: 64px;
}

.title {
  color: #333;
  height: 65px;
  font-size: 18px;
}

.faq {
  width: 100px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
}

.faq a {color: #157EFB}
.title a {color: #147DFB}

.information {
  color: #333;
  padding: 10px;
  margin: 10px 0 0 0;
  text-align: justify;
}

.information p {
  display: inline;
  font-size: 13px;
  line-height: 28px;
  vertical-align: middle;
  font-family: arial,sans-serif;
}

.information input[type="text"] {
  height: 30px;
  padding: 5px;
  min-width: 214px;
  width: calc(100% - 520px);
}

.information input[type="number"] {
  padding: 0;
  color: #333;
  width: 128px;
  height: 42px;
  margin: 0 3px;
  min-width: 70px;
  font-size: 14px;
  text-indent: 10px;
  font-family: monospace;
  border: solid 1px #0088e9;
}

.itemtable {
  margin: 10px 0;
  padding: 0 0 20px 0;
}

.user-input {
  border-spacing: 15px 5px;
}

.user-items {
  padding: 0 4px;
  vertical-align: top;
  padding-bottom: 8px;
}

.add {
  padding: 0;
  width: 52px;
  height: 52px;
  color: #a5a5a5;
  cursor: pointer;
  user-select: none;
  text-align: center;
  border-radius: 50%;
  box-sizing: border-box;
  transition: 300ms ease all;
  border: solid 1px rgba(0,0,0,0.15);
}

.add svg {
  fill: #555;
  pointer-events: none;
  vertical-align: middle;
}

.intro {
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.intro p {
  color: #333;
  line-height: 28px;
}

.add:hover {background-color: rgba(0,0,0,0.01)}
.information, .fit {border: solid 1px rgba(0,0,0,0.1)}

.separator {
  width: 100%;
  height: 7px;
  margin: 0 auto;
  display: block !important;
}

i, span, thead, .logo, .faq, .note, img {
  user-select: none;
}

@-moz-document url-prefix() {
  input[type="text"],
  table tr td[type='url'],
  .list tbody td[type="number"],
  .information input[type="number"] {
    font-size: 11px;
    font-weight: normal;
    font-family: monaco, "andale mono", "lucida console", "courier new", monospace;
  }
}